html
  head(lang="en")
    meta(charset="UTF-8")
    title Madame Tout-le-Monde: Resume
    link(rel="stylesheet", href="./style.css")
  body
    header
      h1 Madame Tout-le-Monde
      h2 you@example.com | github.com/you
    main
      section
        h2 Education
        hr
        article
          .columns
            h3.left School of Mom and Pop
            .right Springfield
          .columns
            .left Bachelor in Birdwatching
            .right 1872-1876
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            li Elit at imperdiet dui accumsan
            li Etiam sit amet nisl purus in mollis
      section
        h2 Skills
        hr
        p <Strong>Programming languages:</strong> Whitespace, LOLCODE, ArnoldC, Brainfuck
        p <Strong>Technologies:</strong> Flying through the clouds
      section
        h2 Work Experience
        hr
        article
          .columns
            h3.left Acme Corporation
            .right Anytown
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae faucibus lorem, vel efficitur est. Donec elementum eget elit sit amet mollis.
            li Proin sed nibh consequat, faucibus urna vitae, tempus nibh. Aliquam quis diam magna. Quisque eu dignissim mi, vel sagittis felis. Nullam lacinia lacus ut urna efficitur, a varius sapien interdum.
            li Fusce et lectus ac est interdum ullamcorper. Nulla ac purus vel justo fringilla venenatis. Sed et purus hendrerit, pulvinar justo sed, porta nunc.
        article
          .columns
            h3.left Ace Inc.
            .right Somewhere Over the Rainbow
          ul
            li Euismod elementum nisi quis eleifend
            li Neque sodales ut etiam sit amet nisl purus in
            li Iaculis eu non diam phasellus vestibulum lorem
            li Arcu risus quis varius quam quisque
        article
          .columns
            h3.left Nozama
            .right Main Street
          ul
            li Ipsum faucibus vitae aliquet nec
            li Quis lectus nulla at volutpat
            li Massa ultricies mi quis hendrerit dolor magna eget est
            li Maecenas ultricies mi eget mauris pharetra et ultrices.
