doctype html
html
  head(lang="en")
    meta(charset="UTF-8")
    title Madame Tout-le-Monde: Resume
    link(rel="stylesheet", href="./style.css")
  body
    header
      h1 Madame Tout-le-Monde
      h2 you@example.com | github.com/you
    main
      section
        h2 Work Experience
        hr
        article
          .columns
            h3.left Acme Co.
            .right Anytown, Ruritania
